<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mj.mapper.GoodsMapper">

    <resultMap id="resultMap" type="com.mj.model.Goods">
        <id property="id" column="id" />
        <result property="goodsName" column="goods_name" />
        <result property="spec" column="spec" />
        <result property="price" column="price" />
        <result property="originalPrice" column="original_price" />
        <result property="type" column="type" />
        <result property="bulletinDate" column="bulletin_date" />
        <result property="userId" column="user_id" />
        <result property="goodAttachments" column="good_attachments" />
        <result property="customerId" column="customer_id" />
        <association property="user" javaType="com.mj.model.User">
            <id property="id" column="id" />
            <result property="openid" column="openid" />
            <result property="username" column="username" />
            <result property="nickName" column="nick_name" />
            <result property="password" column="password" />
            <result property="state" column="state" />
            <result property="role" column="role" />
            <result property="mobile" column="mobile" />
            <result property="qq" column="qq" />
            <result property="avatarUrl" column="avatar_url" />
            <result property="gender" column="gender" />
        </association>
        <collection property="attachments" ofType="com.mj.model.Attachment">
            <result property="id" column="id" />
            <result column="attachment_name" property="attachmentName"/>
            <result column="attachment_url" property="attachmentUrl"/>
            <result column="goods_id" property="goodsId"/>
        </collection>
    </resultMap>

    <!--获取所有商品-->
    <select id="findAll" resultMap="resultMap">
        select * from goods g left join user u on g.user_id = u.id
                      left join attachment a on g.id = a.goods_id
        <where>
            <if test="id != null and id != ''">
                g.user_id = #{id}
            </if>
            <if test="goodsName != null and goodsName != ''">
                and g.goods_name LIKE CONCAT('%', #{goodsName}, '%')
            </if>
            <if test="type != null and type != ''">
                and g.type = #{type}
            </if>
            <if test="customerId != null and customerId != ''">
                and g.customer_id = #{customerId}
            </if>
            and (g.customer_id is null)
        </where>
    </select>
    <!--LIKE CONCAT('%', #{title}, '%')-->
    <!--获取某人所有商品-->
    <select id="findAllUser" resultType="com.mj.model.Goods">
        select * from goods
        <where>
            <if test="uid != null and uid != ''">
                id = #{uid}
            </if>
            <if test="goodsName != null and goodsName != ''">
                goods_name LIKE CONCAT('%', #{goodsName}, '%')
            </if>
            <if test="type != null and type != ''">
                type = #{type}
            </if>
            <if test="customerId != null and customerId != ''">
                customer_id = #{customerId}
            </if>
            and (g.customer_id is null)
        </where>
    </select>

    <!--交易数量-->
    <select id="findDealGood" resultType="java.lang.Integer">
        select count(*) from goods where customer_id is NOT NULL
    </select>

    <!--保存返回id-->
    <insert id="insertAndGetId" useGeneratedKeys="true" keyProperty="id" parameterType="com.mj.model.Goods">
        insert into goods(goods_name,spec,price,original_price,type,user_id,good_attachments,customer_id,bulletin_date)
        values(#{goodsName},#{spec},#{price},#{originalPrice},#{type},#{userId},#{goodAttachments},#{customerId},#{bulletinDate})
    </insert>

</mapper>